html, body {
  height: calc(100% - 46px);
}

#bootstrap-overrides .navbar .navbar-brand {
  color: #97FFE2;
}

#bootstrap-overrides li > a {
  color: #97FFE2;
}

#bootstrap-overrides li > a:hover {
  color: white;
  background-color: #468976;
}

#bootstrap-overrides .navbar {
  background-color: #256F5B;
  border-color: #003829;
}

#bootstrap-overrides h1 {
  color: #468976;
}

#bootstrap-overrides #body {
  margin-top: 4.375em;
  padding-left: 0em;
  padding-right: 0em;
  height: 100%;
  min-height:100%;
}

#bootstrap-overrides #body .container-fluid {
  padding-left: 0em;
  padding-right: 0em;
  margin-left: 0em;
  margin-right: 0em;
  display: table;
  width: 100%;
  height:100%;
  min-height:100%;
}

#bootstrap-overrides #body .row {
  min-height: 100%;
  height: 100%;
}

#bootstrap-overrides #body .row .no-float{
  display: table-cell;
  float: none;
  height:100%;
  min-height:100%;
}

#bootstrap-overrides #left{
  display: table-cell;
  background-color: #407D6C;
  color:white;
  min-height: 100%;
  height:100%;
}

#bootstrap-overrides #center{
 background-color: #CDF9ED;
 min-height: 100%;
 height:100%;
}

#bootstrap-overrides #footer {
  padding-left: 0em;
  padding-right: 0em;
  margin-top: .75em;
  margin-left: 0em;
  margin-right: 0em;
  display: table;
  width: 100%;
  color: white;
  background: #468976;
}

#bootstrap-overrides #body #center h1 {
  text-align: center;
}
